# Entorno virtual
venv/
env/

# Variables de entorno (API KEYS - NUNCA subir)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos y logs (pueden ser pesados)
datos/*.csv
logs/
graficos/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db
